.descripcion {
  max-width: 700px;
  margin: 0 auto 3rem auto;
  font-size: 1rem;
  text-align: center;
}

.form-banner {
  margin: 0 auto;
  padding: 2rem;
  background-color: #f9f9fb;
  border: 2px solid #073763;
  border-radius: 6px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
}

.form-upload {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-upload label,
.label-upload {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #073763;
  font-size: 1rem;
  margin-bottom: 0.3rem;
  display: block;
}

.form-upload input[type="file"] {
  font-family: "Libre Franklin", sans-serif;
  font-size: 1rem;
  padding: 0.7rem 0.8rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  color: #153f6c;
  background-color: #fff;
  transition: border 0.3s ease;
}

.form-upload input:focus {
  border-color: #073763;
  outline: none;
}

.subtitulo {
  font-family: "Libre Franklin", sans-serif;
  color: #073763;
  font-size: 1.4rem;
  border-bottom: 2px solid #073763;
  padding-bottom: 0.3rem;
  margin: 3rem auto 1.5rem auto;
}

.banner-preview .imagen-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  margin: 0 auto 1.5rem auto;
}

.banner-preview .imagen-item img {
  width: 100%;
  border-radius: 4px;
  object-fit: cover;
}

.imagen-item {
  position: relative;
  display: inline-block;
  margin: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
}

.imagen-item img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 6px;
}

.eliminar-imagen {
  position: absolute;
  top: 30px;
  right: 25px;
  background: rgba(124, 124, 124, 0.6);
  color: white;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: 25px;
  line-height: 31px;
  text-align: center;
  cursor: pointer;
  z-index: 10;
  transition: background 0.2s;
}

.eliminar-imagen:hover {
  color: white;
  background: #073763;
}
