@font-face {
  font-family: 'Macaroni';
  src: url('/app/static/fonts/Macaroni.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



/* Estilos globales */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background-color: white;
  color: #153f6c;
  font-family: 'Libre Franklin', sans-serif;
}

/* Títulos y botones en Poppins */
h1, h2, h3, h4, h5, h6,
button, .btn {
  font-family: 'Poppins', sans-serif;
}

.pagina {
  max-width: 1200px;
  margin: 0 auto; /* centra horizontalmente */
  padding: 1rem;
}

.logo-titulo {
  font-family: 'Macaroni', cursive;
  font-size: 2.5rem;
}


/* Contenedor centrado */
main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* Estilos específicos */
header {
  padding: 1em;
  text-align: center;
}

.material-symbols-outlined {
  font-size: 45px;
  color: #153f6c;
}

.carrito-icono {
  width: 65px;
  height: 65px;
  padding: 0;
}


nav {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding: 15px 10px;
  border-top: 2px solid #153f6c;
  border-bottom: 2px solid #153f6c;
  margin-bottom: 50px;
}

nav a {
  color: #153f6c;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
}

nav a:hover {
  color: #0a2a4a;
  text-decoration: underline;
}

nav a {
  color: #153f6c;
  text-decoration: none;
}

.contenido {
  max-width: 800px; /* Ancho máximo del texto */
  margin: 4em auto;  /* Centrado horizontal y espacio vertical */
  margin-top: 8em;
  text-align: center;
}

.galeria-preview {
  background-color: white;
  padding: 4em 2em;
  text-align: center;
}

.galeria-img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;         /* Recorta si es necesario */
  object-position: center;   /* Centra el recorte */
  border-radius: 0.5em;
}

.ver-mas {
  display: inline-block;
  padding: 10px 100px;
  background-color: #ffffff;
  color: #153f6c;
  border: 2px solid #153f6c;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  border-radius: 0;          /* Sin bordes redondeados */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ver-mas:hover {
  background-color: #153f6c;
  color: #ffffff;

}

.dos-columnas {
  display: flex;
  flex-wrap: wrap;
  padding: 4em;
  padding-right: 0;
  gap: 2em;
  border-top: 2px solid #153f6c;
  border-bottom: 2px solid #153f6c;
  margin-top: 2em;
  margin-bottom: 4em;
  
}

.columna {
  flex: 1;
  min-width: 300px;

  /* Centrado vertical y horizontal */
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertical */
}

.contacto-link {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: #153f6c;
  margin-bottom: 0.8em;
  font-family: 'Libre Franklin', sans-serif;
}

.material-symbols-outlined.icono {
  background-color: #153f6c; /* círculo azul */
  color: white;              /* icono blanco */
  border-radius: 50%;
  padding: 8px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  flex-shrink: 0;  /* evita que el icono se achique */
}


iframe {
  width: 100%;
  height: 400px; /* Aumentá este valor según lo grande que lo quieras */
  border: 0;
  border-radius: 0.5em; /* Opcional, para bordes redondeados */
}


.footer {
  padding: 4em 1em 1.5em; /* mucho margen arriba */
  font-family: 'Libre Franklin', sans-serif;
  font-size: 0.9rem;
}

.footer-content {
  max-width: 1000px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left {
  text-align: left;
  flex: 1;
}

.footer-right {
  text-align: right;
  flex: 1;
}

