/* ───────────── Contenedor principal del login ───────────── */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-container {
  max-width: 400px;
  margin: 0;
  padding: 2rem;
  border: 1px solid var(--color-primary);
  background: #f9f9fb;
}

.login-container h2 {
  color: var(--color-primary);
  font-family: var(--font-secondary);
  text-align: center;
  margin-bottom: 1.5rem;
}

/* ───────────── Formulario con layout en columna y espacios ───────────── */
.login-container form {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.login-container label {
  font-weight: var(--font-weight-medium);
  color: var(--color-primary);
}

.login-container input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  outline: none;
  margin-bottom: 1rem;
}

.boton-acceder:hover {
  background-color: var(--color-white);
  color: var(--color-primary);
}
.boton-volver {
  background-color: var(--color-secondary);
  color: var(--color-white);
  border: 2px solid var(--color-secondary);
  width: 100%;
  padding-right: 13px;
  padding-left: 13px;
}
.boton-volver:hover {
  background-color: var(--color-white);
  color: var(--color-secondary);
}
/* ───────────── Contenedor para centrar el botón volver ───────────── */
.volver-container {
  text-align: center;
  margin-top: 1rem;
}

/* ───────────── Media Queries para responsividad ───────────── */
@media (max-width: 480px) {
  .login-container {
    margin: 0;
    padding: 1rem;
  }

  .login-container h2 {
    font-size: 1.5rem;
    margin: 1rem;
  }
}
