{% extends "base.html" %} {% block title %}Galería - La Hora Azul{% endblock %}
{% block extra_css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/galeria.css') }}"
/>
{% endblock %} {% block content %}
<section class="galeria-pinterest">
  <div class="grid-galeria">
    {% if imagenes %} {% for img in imagenes %}
    <img
      src="{{ url_for('static', filename=img.imagen.split('static/')[1]) }}"
      alt="Imagen galería {{ loop.index }}"
      loading="lazy"
    />
    {% endfor %} {% else %}
    <div class="mensaje-vacio">
      <p>No hay imágenes cargadas en la galería.</p>
    </div>
    {% endif %}
  </div>
</section>

{% endblock %} {% block extra_js %}
<!-- Este bloque puede quedar vacío o eliminarse si ya no usás JS para el grid -->
{% endblock %}
