<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Login - La Hora Azul</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="icon"
      href="{{ url_for('static', filename='icon/logo.png') }}"
      type="image/png"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/estilos.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/login.css') }}"
    />
  </head>

  <body class="pagina">
    <div class="login-container">
      <h2>Iniciar sesión</h2>

      <form action="{{ url_for('admin_login') }}" method="post">
        <label for="username">Email</label>
        <input
          type="email"
          id="username"
          name="username"
          placeholder="ejemplo@correo.com"
          required
        />

        <label for="password">Contraseña</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Ingrese contraseña"
          required
        />

        <button type="submit" class="btn boton-acceder">Acceder</button>
      </form>

      <div class="volver-container">
        <a href="{{ url_for('index') }}" class="btn boton-volver"
          >Volver al Inicio</a
        >
      </div>
    </div>
  </body>
</html>
