{% extends "base.html" %} {% block title %}Marcos - La Hora Azul{% endblock %}
{% block extra_css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/marcos.css') }}"
/>
{% endblock %} {% block content %}
<section class="marcos">
  <div class="introduccion-marcos">
    <p>
      Nuestros marcos son hechos a la medida de tu obra de manera artesanal y
      personalizada. Trabajamos con materiales de calidad y una amplia variedad
      de molduras, colores y terminaciones. Te acompañamos en todo el proceso
      para elegir el marco ideal que realce y proteja aquello que querés
      atesorar.
    </p>
  </div>

  <div class="presupuesto-marcos">
    <h2>Cómo pedir un presupuesto</h2>
    <ol>
      <li>
        Envíanos las medidas de la pieza que querés enmarcar, puede ser una
        fotografía, ilustración, pintura, bordado ¡O lo que quieras!
      </li>
      <li>
        Indicanos el tipo de marco que preferís. Te podemos asesorar sobre
        molduras, passepartout, vidrios y montaje.
      </li>
      <li>
        Te enviamos un presupuesto válido por 10 días, y te pedimos una seña del
        30% para comenzar el trabajo.
      </li>
      <li>
        En un plazo de 7 a 10 días hábiles te entregamos tu cuadro listo para
        colgar.
      </li>
    </ol>
  </div>

  <section class="carrusel-marcos text-center">
    <h2>Explorá nuestros marcos</h2>

    <div
      class="carrusel d-flex align-items-center justify-content-center gap-3"
    >
      <button id="btn-prev" class="carrusel-btn">&#10094;</button>

      <div class="carrusel-contenedor">
        <div class="carrusel-imagenes" id="carruselMarcos">
          {% set rutas_imagenes = [ 'img/marcos/doble_vidrio.jpg',
          'img/marcos/marco_directo_1.jpg', 'img/marcos/marco_directo_2.jpg',
          'img/marcos/marco_directo_3.jpg', 'img/marcos/marco_directo_4.jpg',
          'img/marcos/passepartout_1.jpg', 'img/marcos/passepartout_2.jpg',
          'img/marcos/varillas_pintadas.jpg' ] %} {% for ruta in rutas_imagenes
          %} {% set nombre_archivo =
          ruta.split('/')[-1].replace('.jpg','').replace('_',' ') %} {% set
          nombre_titulo = nombre_archivo.title() %}
          <img
            src="{{ url_for('static', filename=ruta) }}"
            alt="{{ nombre_titulo }}"
            data-titulo="{{ nombre_titulo }}"
          />
          {% endfor %}
        </div>
      </div>

      <button id="btn-next" class="carrusel-btn">&#10095;</button>
    </div>

    <div class="titulo-marco" id="titulo-marco">Marco 1</div>
  </section>
</section>
{% endblock %} {% block extra_js %}
<script src="{{ url_for('static', filename='js/marcos.js') }}"></script>

{% endblock %}
